<?xml version="1.0"?>
<robot name="tortoisebot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include the base robot description -->
  <xacro:include filename="$(find tortoisebot_description)/urdf/tortoisebot.urdf.xacro"/>
  
  <!-- Include Gazebo-specific elements when needed -->
  <xacro:arg name="gazebo" default="false"/>
  <xacro:if value="$(arg gazebo)">
    <xacro:include filename="$(find tortoisebot_description)/urdf/tortoisebot_gazebo.xacro"/>
  </xacro:if>

</robot>